
.icon-user:before { content: '\e800'; } /* '' */
.icon-wrench:before { content: '\e801'; } /* '' */
.icon-docs:before { content: '\e802'; } /* '' */
.icon-facebook-squared:before { content: '\e803'; } /* '' */
.icon-users:before { content: '\e804'; } /* '' */